<%- include("./template/header.ejs", {title: 'Iniciar Sesión'}) %>

<center>
    <div class="container">
        <br>
        <p class="h1" style="color: #C70039; background-color: black; width:300px; border-radius: 10px; padding: 1%;">Login</p>
    </div>
</center>