
<br>    
<center>
        <div class="container border border-dark" style="background-color: black;">
            <P style="color:brown;font-size:xx-large;">No hay nada en la urna!</P>
            <img src="https://m.media-amazon.com/images/I/81AVo62wYNL._AC_SY879_.jpg" style="border-radius:40px; width: 30%; height: 70%; margin:0 0 3% 0" alt="">
            <br>
            <a href="/web/login" style="color:white;font-size:xx-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; padding: 5%;">Volver a página principal</a>
        </div>
        
    </center>
 
    </html>
