<%- include("./template/header.ejs", {title: 'Trivia'}) %>

<body class="bg-info">
    <br>
    <center>
        <div>
            <h3>Lee atentamente las siguientes preguntas y selecciona la alternativa correcta</h3>

        </div>
    </center>
    
</body>