<footer class="footer">
           <form class="d-flex" role="search">
          <a style=" background-color: #777; width: 100%; color:black; padding:1%;">Sitio creado por May Ortega en Bootcamp Plataforma 5</a>
    </footer>